<form (ngSubmit)="onSubmit()" [formGroup]="movieForm">
  <div formGroupName="name">
    <div>
      <label for="id">Identifiant</label>
      <input name="id" type="text" formControlName="id">
    </div>

    <div>
      <label for="titre">Titre</label>
      <input name="titre" type="text" formControlName="titre">
    </div>
  </div>
  
  <div>
    <label for="type">Type</label>
    <select name="type" formControlName="type">
      <option value="film">Film</option>
      <option value="serie">Série</option>
      <option value="episode">Episode</option>
    </select>
  </div>

  <div>
    <label for="annee">Année de sortie</label>
    <input name="annee" type="number" formControlName="annee">
  </div>

  <div>
    <label for="fiche">Fiche</label>
    <select name="fiche" formControlName="fiche">
      <option value="complete">Complète</option>
      <option value="courte">Courte</option>
    </select>
  </div>


  <button type="submit">Sauvegarder</button>
</form>